<VirtualHost *:80>
  ServerName <%= @params[:server_name] %>
  ServerAlias <% @params[:server_aliases].each do |a| %><%= "#{a}" %> <% end %>
  DocumentRoot <%= @params[:docroot] %>
  DirectoryIndex index.php index.html index.htm
  <% if @params[:server_include] %>
    <% @params[:server_include].each do |b| %>Include <%= "#{b}" %>
    <% end %>
  <% end %>
  RewriteEngine On

  <Directory <%= @params[:docroot] %>>
    Options FollowSymLinks
    AllowOverride All
    Order allow,deny
    Allow from all
  </Directory>

  <Directory />
    Options FollowSymLinks
    AllowOverride None
  </Directory>

  <Location /server-status>
    SetHandler server-status

    Order Allow,Deny
    Allow from all
  </Location>

  LogLevel info
  ErrorLog <%= node[:apache][:log_dir] %>/<%= @params[:name] %>-error.log
  CustomLog <%= node[:apache][:log_dir] %>/<%= @params[:name] %>-access.log combined

  RewriteEngine On
  RewriteLog <%= node[:apache][:log_dir] %>/<%= @application_name %>-rewrite.log
  # level 0 => Do not log rewrite
  RewriteLogLevel 0
</VirtualHost>

<VirtualHost *:443>
  ServerName <%= @params[:server_name] %>
  ServerAlias <% @params[:server_aliases].each do |a| %><%= "#{a}" %> <% end %>
  DocumentRoot <%= @params[:docroot] %>
  <% if @params[:server_include] %>
  <% @params[:server_include].each do |b| %>Include <%= "#{b}" %>
  <% end %>
  <% end %>
  RewriteEngine On

  <Directory <%= @params[:docroot] %>>
    Options FollowSymLinks
    AllowOverride All
    Order allow,deny
    Allow from all
  </Directory>

  <Directory />
    Options FollowSymLinks
    AllowOverride None
  </Directory>

  <Location /server-status>
    SetHandler server-status

    Order Allow,Deny
    Allow from all
  </Location>

  LogLevel info
  ErrorLog <%= node[:apache][:log_dir] %>/<%= @params[:name] %>-error.log
  CustomLog <%= node[:apache][:log_dir] %>/<%= @params[:name] %>-access.log combined

  RewriteEngine On
  RewriteLog <%= node[:apache][:log_dir] %>/<%= @application_name %>-rewrite.log
  # level 0 => Do not log rewrite
  RewriteLogLevel 0

  SSLEngine on
  SSLCertificateFile /etc/ssl/certs/ssl-cert-snakeoil.pem
  SSLCertificateKeyFile /etc/ssl/private/ssl-cert-snakeoil.key
</VirtualHost>
